footer {
    background-color: #222222;
    color: #ffffff;
    padding: 60px 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo2 img {
    width: 200px;
}

.texto-introducao {
    color: #ffffff;
    margin: 0;
    font-family: "Oswald";
    font-size: 20px;
}

.highlight {
    background-color: #ffffff;
    color: #222222;
    padding: 2px 6px;
}

.informations {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
}

.infos {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.infos h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Oswald";
}

.infos p {
    color: #ffffff;
    margin: 0;
    font-size: 18px;
    font-family: 'Crimson';

}

.subscribe {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    padding-top: 15px;
    font-family: "Oswald";
}

.subscribe:hover {
    color: #aaaaaa;
}

.recent-posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item {
    display: block;
}

.calendar-icon {
    width: 20px;
    margin-right: 6px;
}

.post-date {
    color: #556b2f;
    margin-right: 6px;
    font-size: 18px;
    font-family: 'Crimson';
}

.post-title {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Crimson';
}