@font-face {
  font-family: "Oswald";
  src: url(/assets/fonts/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Muli";
  src: url(/assets/fonts/Mulish-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Crimson';
  src: url(/assets/fonts/CrimsonText-Bold.ttf);
}
/*==================================== HEADER ====================================*/


/*===============================================================================*/

